# 데이터 전처리

## 라이브러리

In [100]:
import os
import pandas as pd
import numpy as np
import re

## 데이터 읽어오기

In [103]:
path = r"/Users/ihyeonseo/Desktop//  ꒰⍢꒱ ༘*/DEBA/인공지능기반의사결정/data/df_merged_HJ.csv"
df = pd.read_csv(path)

In [104]:
df

,ID,총 가구원 수,조사대상 가구원 수,조사완료 가구원 수,문A1-1) 작년(21.01.01~21.12.31) (1) 학위(졸업장) 취득을 위한 교육 참여 경험 여부,문A1-1) 작년(21.01.01~21.12.31) (2) 성인기초 및 문자해득교육(문해교육) 참여 경험 여부,문A1-1) 작년(21.01.01~21.12.31) (3) 직업능력향상교육 참여 경험 여부,문A1-1) 작년(21.01.01~21.12.31) (4) 인문교양교육 참여 경험 여부,문A1-1) 작년(21.01.01~21.12.31) (5) 문화예술스포츠교육 참여 경험 여부,문A1-1) 작년(21.01.01~21.12.31) (6) 시민참여교육 참여 경험 여부,...,직업,직장의 규모,근무기간,원가중치,평생학습 참여자,형식교육 참여자,비형식교육 참여자,직업관련 비형식교육 참여자,동시 참여자,key
0,1000601,3.0,2.0,2.0,2,2.0,2.0,2.0,1.0,2.0,...,3.0,4.0,2.0,3813.128840,1,2,1,2.0,2,2022
1,1000602,3.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,3.0,3.0,2.0,3701.178147,2,2,2,2.0,2,2022
2,1001901,3.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,5.0,1.0,2.0,4421.938550,2,2,2,2.0,2,2022
3,1001902,3.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,3.0,4.0,3.0,4555.690308,2,2,2,2.0,2,2022
4,1002701,3.0,3.0,3.0,1,2.0,2.0,2.0,2.0,2.0,...,5.0,1.0,3.0,3932.428851,1,1,2,2.0,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51364,99801,3.0,2.0,1.0,2,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,7118.268664,2,2,2,NaN,2,2021
51365,999401,2.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,5069.803017,2,2,2,NaN,2,2021
51366,999402,2.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,3942.888260,2,2,2,NaN,2,2021
51367,999801,2.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,3942.888260,2,2,2,NaN,2,2021
51368,999802,2.0,2.0,2.0,2,2.0,2.0,2.0,2.0,2.0,...,3.0,4.0,3.0,4181.746572,2,2,2,NaN,2,2021

## 결측값 확인

In [108]:
# 각 칼럼의 결측값 개수 계산
missing_values = df.isnull().sum()

# 결측값 비율(%)도 함께 출력
missing_percentage = (missing_values / len(df)) * 100
missing_info = pd.DataFrame({"결측값 개수": missing_values, "결측값 비율(%)": missing_percentage})

# (선택) 결측값 개수가 있는 칼럼만 출력
print(missing_info[missing_info["결측값 개수"] > 0])

                                                    결측값 개수  결측값 비율(%)
총 가구원 수                                              31496  61.313243
조사대상 가구원 수                                           31496  61.313243
조사완료 가구원 수                                           31496  61.313243
문A1-1) 작년(21.01.01~21.12.31) (2) 성인기초 및 문자해득교육(...   31496  61.313243
문A1-1) 작년(21.01.01~21.12.31) (3) 직업능력향상교육 참여 경험 여부   31496  61.313243
...                                                    ...        ...
근로시간형태                                               28330  55.149993
직업                                                   14114  27.475715
직장의 규모                                               14114  27.475715
근무기간                                                 14114  27.475715
직업관련 비형식교육 참여자                                       19681  38.312990

[378 rows x 2 columns]

## 칼럼명 수정

In [120]:
df.columns = [
    col.replace('B1', 'A3') if '문B1' in col and '귀하께서 작년에 참여한 학습경험이 전반적으로' in col else col
    for col in df.columns
]

In [122]:
# A3가 포함된 칼럼명만 출력
a3_columns = [col for col in df.columns if 'A3' in col]
print(a3_columns)

['문A3-1) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__건강 관리', '문A3-2) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__심리적 만족 및 행복감 증대', '문A3-3) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__교양 함양이나 지식 습득 등 자기 계발', '문A3-4) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__취업^ 이직^ 창업에 도움', '문A3-5) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__일하는데 필요한 기능 습득 등', '문A3-6) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__성과급^ 연봉 등 소득 증대', '문A3-7) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__고용안정', '문A3-8) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__사회참여', '문A3-9) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__친목도모 증진', '문A3-10) 귀하께서 작년에 참여한 학습경험이 전반적으로 다음 각 항목과 관련하여 귀하에게 어느 정도 도움이 되었다고 생각하십니까?__기타']

## 종속 변수 설정

In [126]:
# '문A1-1)'와 '문B1'이 포함된 컬럼에서 1이 하나라도 있으면 1, 아니면 0
df['참여여부'] = ((df.filter(like='문A1-1)').eq(1).any(axis=1)) | (df.filter(like='문B1').eq(1).any(axis=1)))

# 0과 1로 표시되도록 하기 위해 int형으로 변환
df['참여여부'] = df['참여여부'].astype(int)

In [128]:
df['참여여부'].value_counts()

참여여부
1    46962
0     4407
Name: count, dtype: int64

## 예측 변수 설정

사용 칼럼
- 성별
- 연령별(2)
- 학력별
- 월 가구소득
- 수도권/비수도권
- 건강
- 취업 여부
- 직업 관련 목표지향
   - 문F1-1) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성인이 되어서도 지속적으로 학습을 하는 사람은 일자리를 잃을 가능성이 적다.
   - 문F1-2) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성공적인 직장생활을 위해서는 지식과 기술을 끊임없이 향상시켜야 한다.
   - 문F1-3) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__고용주는 고용인들의 훈련을 책임져야 한다.
- 학습 지향
  - 문F1-5) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__교육훈련은 보다 나은 일상생활을 영위하는 데 도움을 준다.
  - 문F1-6) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__새로운 것을 배우는 것은 즐겁다.
  - 문F1-7) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__학습을 통해 자신감을 얻는다.
  - 문F1-8) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성인학습자는 자신의 학습을 위해 무언가를 지불할 각오를 해야 한다.
- 사회학습 참여
  - 문G1-1) 지난 한 해 동안 자원봉사 또는 재능기부를 한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험
  - 문G1-2) 지난 한 해 동안 자선단체에 기부 또는 후원한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험
  - 문G1-3) 지난 한 해 동안 동아리에서 활동한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험
- 평생학습 접근성
  - 문D1) 귀하께서는 작년에 평생교육 프로그램 관련 정보를 접한 적이 있습니까?
- 평생학습 효과성
  - 문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__1) 정신적 건강(정서적 안정감)
  - 문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__2) 육체적 건강
  - 문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__3) 사회참여 만족도
  - 문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__4) 경제적 안정감

### 칼럼의 평균값으로 대체

In [133]:
# '문H2-1)' 칼럼들 중 4개의 항목에 대한 평균값으로 '평생학습 효과성' 칼럼 추가
df['평생학습 효과성'] = df[['문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__1) 정신적 건강(정서적 안정감)',
                              '문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__2) 육체적 건강',
                              '문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__3) 사회참여 만족도',
                              '문H2-1) 평생학습 참여가 삶의 질 향상에 얼마나 도움^ 아직 경험이 없다면 삶의 질 향상에 얼마나 도움이 될 것인지 생각하십니까?__4) 경제적 안정감']].mean(axis=1)

# '문F1-5)', '문F1-6)', '문F1-7)', '문F1-8)' 칼럼들의 평균값으로 '학습 지향' 칼럼 추가
df['학습 지향'] = df[['문F1-5) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__교육훈련은 보다 나은 일상생활을 영위하는 데 도움을 준다.',
                      '문F1-6) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__새로운 것을 배우는 것은 즐겁다.',
                      '문F1-7) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__학습을 통해 자신감을 얻는다.',
                      '문F1-8) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성인학습자는 자신의 학습을 위해 무언가를 지불할 각오를 해야 한다.']].mean(axis=1)

# '문G1-1)', '문G1-2)', '문G1-3)' 칼럼들 중 '참여경험'과 관련된 칼럼만 선택하여 평균값으로 '사회학습 참여' 칼럼 추가
df['사회학습 참여'] = df[['문G1-1) 지난 한 해 동안 자원봉사 또는 재능기부를 한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험',
                            '문G1-2) 지난 한 해 동안 자선단체에 기부 또는 후원한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험',
                            '문G1-3) 지난 한 해 동안 동아리에서 활동한 적이 있습니까? 있다면^ 몇 회 정도 참여하셨습니까?__참여경험']].mean(axis=1)

# '문F1-1)', '문F1-2)', '문F1-3)' 칼럼들의 평균값으로 '직업 관련 목표지향' 칼럼 추가
df['직업 관련 목표지향'] = df[['문F1-1) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성인이 되어서도 지속적으로 학습을 하는 사람은 일자리를 잃을 가능성이 적다.',
                                 '문F1-2) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__성공적인 직장생활을 위해서는 지식과 기술을 끊임없이 향상시켜야 한다.',
                                 '문F1-3) 다음 학습 관련 질문에 어느 정도 동의하시는지 동의 정도를 말씀해주시기 바랍니다.__고용주는 고용인들의 훈련을 책임져야 한다.']].mean(axis=1)

# '문D1) 귀하께서는 작년에 평생교육 프로그램 관련 정보를 접한 적이 있습니까?' 칼럼을 그대로 '평생학습 접근성' 칼럼에 추가
df['평생학습 접근성'] = df['문D1) 귀하께서는 작년에 평생교육 프로그램 관련 정보를 접한 적이 있습니까?']

# 결과 확인
print(df[['평생학습 효과성', '학습 지향', '사회학습 참여', '직업 관련 목표지향','평생학습 접근성']])

       평생학습 효과성  학습 지향   사회학습 참여  직업 관련 목표지향  평생학습 접근성
0          3.75   4.00  1.000000    3.666667         2
1          3.75   3.75  1.000000    4.333333         1
2          3.50   3.50  1.000000    3.666667         2
3          3.75   3.75  1.333333    3.666667         2
4          3.50   3.75  1.000000    3.666667         1
...         ...    ...       ...         ...       ...
51364      3.00   3.00  1.000000    3.666667         1
51365      2.50   3.25  1.333333    3.333333         2
51366      2.50   3.50  1.333333    3.333333         2
51367      2.50   3.50  1.333333    3.333333         2
51368      2.75   3.50  1.333333    3.333333         2

[51369 rows x 5 columns]

## 필요한 칼럼만으로 새로운 df 구성

In [142]:
# 새로운 데이터프레임 생성: 필요한 칼럼만 선택
columns_to_include = ['성별', '연령별(2)', '학력별', '월 가구소득', '수도권/비수도권', '건강에 대한 자신감', '취업구분',
                      '직업 관련 목표지향', '학습 지향', '사회학습 참여', '평생학습 효과성', '평생학습 접근성', '참여여부']

# 새로운 데이터프레임 생성
new_df = df[columns_to_include]

In [144]:
new_df

,성별,연령별(2),학력별,월 가구소득,수도권/비수도권,건강에 대한 자신감,취업구분,직업 관련 목표지향,학습 지향,사회학습 참여,평생학습 효과성,평생학습 접근성,참여여부
0,1,1.0,3,3,1.0,1,1,3.666667,4.00,1.000000,3.75,2,1
1,2,1.0,3,3,1.0,1,1,4.333333,3.75,1.000000,3.75,1,1
2,2,2.0,3,4,1.0,1,1,3.666667,3.50,1.000000,3.50,2,1
3,1,2.0,3,4,1.0,1,1,3.666667,3.75,1.333333,3.75,2,1
4,2,4.0,1,4,1.0,1,1,3.666667,3.75,1.000000,3.50,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51364,2,3.0,3,3,1.0,2,2,3.666667,3.00,1.000000,3.00,1,1
51365,1,5.0,1,2,1.0,1,2,3.333333,3.25,1.333333,2.50,2,1
51366,2,5.0,1,2,1.0,1,2,3.333333,3.50,1.333333,2.50,2,1
51367,2,5.0,1,3,1.0,1,2,3.333333,3.50,1.333333,2.50,2,1
51368,1,2.0,3,3,1.0,1,1,3.333333,3.50,1.333333,2.75,2,1

In [146]:
# '연령별(2)' 칼럼명을 '연령'으로 변경
new_df.rename(columns={'연령별(2)': '연령'}, inplace=True)

/var/folders/b_/vpq78mg57x50ljrf543rnjpr0000gn/T/ipykernel_73060/2380592848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'연령별(2)': '연령'}, inplace=True)

In [148]:
new_df

,성별,연령,학력별,월 가구소득,수도권/비수도권,건강에 대한 자신감,취업구분,직업 관련 목표지향,학습 지향,사회학습 참여,평생학습 효과성,평생학습 접근성,참여여부
0,1,1.0,3,3,1.0,1,1,3.666667,4.00,1.000000,3.75,2,1
1,2,1.0,3,3,1.0,1,1,4.333333,3.75,1.000000,3.75,1,1
2,2,2.0,3,4,1.0,1,1,3.666667,3.50,1.000000,3.50,2,1
3,1,2.0,3,4,1.0,1,1,3.666667,3.75,1.333333,3.75,2,1
4,2,4.0,1,4,1.0,1,1,3.666667,3.75,1.000000,3.50,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51364,2,3.0,3,3,1.0,2,2,3.666667,3.00,1.000000,3.00,1,1
51365,1,5.0,1,2,1.0,1,2,3.333333,3.25,1.333333,2.50,2,1
51366,2,5.0,1,2,1.0,1,2,3.333333,3.50,1.333333,2.50,2,1
51367,2,5.0,1,3,1.0,1,2,3.333333,3.50,1.333333,2.50,2,1
51368,1,2.0,3,3,1.0,1,1,3.333333,3.50,1.333333,2.75,2,1

## 결측값 확인

In [151]:
# 결측값이 있는지 확인
missing_values = new_df.isnull().sum()

# 결측값이 있는 칼럼과 그 갯수 출력
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## 저장

In [154]:
new_df.to_csv("분석준비완료.csv", index=False)